{% extends "productos/base.html" %}
{% block title %}Agregar Producto{% endblock %}

{% block content %}
<h2>Agregar Nuevo Producto</h2>

<form method="post">
    {% csrf_token %}

    {{ form.nombre_producto.label_tag }}
    {{ form.nombre_producto }}
    <br><br>

    {{ form.tipo.label_tag }}
    {{ form.tipo }}
    <br><br>

    {{ form.color.label_tag }}
    {{ form.color }}
    <br><br>

    {{ form.stock.label_tag }}
    {{ form.stock }}
    <br><br>

    <button type="submit">Guardar Producto</button>
</form>

<p><a href="{% url 'productos:lista_productos' %}">← Volver a la lista</a></p>
{% endblock %}
